.header {
   width: 100%;
   background-color: #f7e7e6;
   padding: 30px 0 70px 0;
   &__wrapper {
      display: flex;
      justify-content: space-between;
   }
   &__left {
      width: 190px;
      span {
         color: #C51ABB;
         font-size: 28px;
         font-weight: 700;
      }
      p {
         font-size: 16px;
         color: #635E5D;
      }
   }
   &__right {
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      width: 560px;
      label {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 270px;
         height: 60px;
         border: 2px solid #C51ABB;
         cursor: pointer;
         border-radius: 30px;
         background-color: #f7e7e6;
         color: #C51ABB;
         font-size: 16px;
         i {
            margin-right: 5px;
         }
      }
      input {
         position: absolute;
         top: 10px;
         left: 10px;
         visibility: hidden;
      }
   }
   &__send {
      width: 270px;
   }
   &__mail {
      margin-top: 10px;
      font-size: 16px;
      text-align: center;
      color: #635E5D;
      a {
         color: #635E5D;
      }
   }
   &__contacts {
      img {
         width: 40px;
         height: 40px;
         display: block;
         object-fit: contain;
      }
      .tel {
         display: flex;
         font-size: 27px;
         align-items: center;
         font-weight: 600;
      }
      .wp {
         display: flex;
         font-size: 20px;
         align-items: center;
         color: #635E5D;
      }
   }
   &__adver {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      height: 617px;
      &__slides {
         height: 617px;
         overflow: hidden;
         .header__adver__slider__inner {
            transition: 0.4s all;
         }
      }
      &__slide {
         height: 617px;
         img {
            height: 100%;
         }
      }
      &__about {
         width: 420px;
         position: relative;
         height: max-content;
         margin-top: 100px;
         &__subtitle {
            font-size: 20px;
            font-weight: 800;
            font-style: italic;
            text-align: center;
            margin-bottom: 60px;
         }
         &__title {
            font-size: 30px;
            font-weight: 900;
            text-align: center;
            margin-bottom: 90px;
         }
         &__advens {
            color: #635E5D;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 80px;
            font-size: 17px;
         }
         &__adven {
            position: relative;
         }
         &__adven::before {
            content: "✓";
            display: block;
            border: 1px solid #C51ABB;
            width: 25px;
            height: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: -55px;
         }
         &__alert {
            color: #C51ABB;
            margin: 80px 0 40px 0;
            text-align: center;
            font-size: 16px;
         }
         &__btn {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #C51ABB;
            color: white;
            width: 240px;
            height: 60px;
            margin: 0 auto;
            border-radius: 30px;
            font-weight: 700;
            &__arrow {
               position: absolute;
               bottom: 30px;
               right: 20px;
            }
         }
      }
   }
}

