.questions {
   position: relative;
   padding: 90px 0 90px 0;
   &__bg {
      position: absolute;
      top: -150px;
      left: 0;
      z-index: -2;
   }
   &__brushes {
      position: absolute;
      bottom: 0;
      right: 30px;
      z-index: -4;
      width: 300px;
   }
   &__title {
      text-align: center;
      font-weight: 800;
      font-size: 30px;
      margin-bottom: 90px;
   }
   &__subtitle {
      text-align: center;
      font-size: 26px;
      margin-bottom: 20px;
   }
   .accordion {
      &__question {
         font-size: 25px;
         margin: 20px auto 0 auto;
         width: max-content;
         border-bottom: 1px dotted black;
         cursor: pointer;
      }
      &__question.active {
         color: #C51ABB;
      }
      &__answer {
         width: 800px;
         background-color: #f7e7e6;
         font-size: 14px;
         max-height: 0;
         position: relative;
         overflow: hidden;
         transition: all 0.3s ease-out;
         opacity: 0;
         margin: 0 auto ;
         #triangle-up {
            width: 0;
            height: 0;
            border-left: 40px solid transparent;
            border-right: 40px solid transparent;
            border-bottom: 40px solid #f7e7e6;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: -40px;
         }
      }
      &__answer.active {
         width: 800px;
         background-color: #f7e7e6;
         padding: 50px 40px 50px 40px;
         font-size: 14px;
         margin: 50px auto 0 auto;
         overflow: visible;
         opacity: 1;
         max-height: max-content;
      }
   }
}